# Kaggle credentials.
KAGGLE_USERNAME=<your-kaggle-username>
KAGGLE_API_TOKEN=<your-kaggle-api-token>

KAGGLE_CLIMATE_DATASET_REF=algozee/climate-cahnge

# Flask dev server defaults.
FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=5001